<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Example</title>
    <link rel="stylesheet" href="styles1.css">
</head>
<body>
    <div class="container">
        <header class="header"><b>Header</b>
        </header>
        <aside class="aside"><b>Aside</b></aside>
        <main class="main-content">
            <article class="article"><b>Article</b>
                <div class="images">
                    <div class="image"><b>Image</b></div>
                    <div class="image"><b>Image</b></div>
                    <div class="image"><b>Image</b></div>
                </div>
            </article>
        </main>
        <footer class="footer"><b>Footer</b></footer>
    </div>
</body>
</html>
